{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="d-flex post">
        <div>
            <img class="avatar" src="https://picsum.photos/200" />
        </div>
        <div class="pl-4 w-100">
            <div class="d-flex align-items-baseline justify-content-between">
                <h5>{{ post.getAuthor().getNickName() }}</h5>
                <h6>{{ post.getCreatedAt()|date("Y-m-d H:i:s") }}</h6>
            </div>
            <p class="mr-4 mb-0 text-justify">{{ post.getText() }}</p>
        </div>
    </div>
{% endblock %}
